In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(np.arange(1,41).reshape(5,8))

In [10]:
df

    0   1   2   3   4   5   6   7
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40

In [2]:
df = pd.DataFrame(np.arange(1,41).reshape(5,8))

In [3]:
df

    0   1   2   3   4   5   6   7
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40